@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    user-select: none;
    font-size: 17px;
}

html {
    min-height: 100%;
    overflow-y: scroll;
}

body {
    min-height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* ########## top header styling ###### */
header {
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFCF53;
    z-index: 999;
}

.navbar,
.insideBottomHeader {
    padding: 0 10px;
}

.bottomHeader {
    position: fixed;
    top: 37px;
    left: 0;
    right: 0;
    background: #F8AF51;
    z-index: 99;
}




.topHeaderLinks li,
.topHeaderLinks p {
    margin-left: 15px;
}

.tophHeaderMainLink p {
    cursor: pointer;
    background: #F8AF51;
    padding: 4px 6px;
    border-radius: 6px;
}

.topHeaderLinks li a {
    color: black;
    cursor: pointer;
    /* padding-left: 16px; */
}

.leftSec img {
    width: 190px;
    display: block;
}

.headerCheckbox,
.hamburgurLines {
    display: none;
}


.topHeaderSubMenu {
    position: absolute;
    left: 12px;
    display: none;
    width: 160px;
    height: auto;
    padding: 10px 5px;
    background: black;
    color: white;
    padding-left: -20px;
    border-radius: 10px;
}

.topHeaderSubMenu li {
    margin: 0;
    cursor: pointer;
    margin-bottom: 4px;
}

.bottomSectionHeaderSubMenu li {
    margin: 0;
    cursor: pointer;
    margin-bottom: 4px;
}

.topHeaderSubMenu li a {
    color: white;
}

.topHeaderLinks li:hover .topHeaderSubMenu {
    display: block;
}

.tophHeaderMainLink {
    position: relative;
}

/* .homeLink
{
    background: #F8AF51;
        padding: 4px 6px;
        border-radius: 6px;
    } */


/* ####### bottom header styling ########## */

.bottomHeader {
    /* height: 50px; */
    height: auto;
    padding: 5px 0
}

.linkPaddingBottom {
    padding-bottom: 10px;
}

.insideBottomHeader {
    display: flex;
    /* justify-content: flex-end; */
    justify-content: space-between;
}

.bottomSectionHeader {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.bottomSectionHeader p {
    background: #FFCF53;
    padding: 4px 6px;
    border-radius: 6px;
}

.bottomSectionHeader p:hover {
    cursor: pointer;
}

a {
    transition: color 0.2s ease-in-out;
}

.hoverOnLink:hover {
    color: #F8AF51;
}

.bottomSectionHeader li {
    margin-right: 19px;
}

.bottomHeaderLinks {
    position: relative;
}

.bottomSectionHeaderSubMenu {
    position: absolute;
    left: 0;
    display: none;
    width: 157px;
    height: auto;
    padding: 10px 5px;
    background: rgb(0, 0, 0);
    color: white;
    padding-left: -20px;
    border-radius: 10px;
    z-index: 10;
}

.bottomSectionHeader li:hover .bottomSectionHeaderSubMenu {
    display: block;
}

.bottomSectionHeaderSubMenu li a {
    color: white;
}

.signOut {
    color: black;
}

.line1 {
    transform-origin: 0% 0%;
    transition: all 0.3s ease-in-out;
}

.line2 {
    transform-origin: 0% 100%;
    /* display: none; */
    transition: all 0.3s ease-in-out;
}

.line3 {
    transform-origin: 0% 100%;
    transition: all 0.3s ease-in-out;
}

.rightSec input[type="checkbox"]:checked~.hamburgurLines .line1 {
    transform: rotate(45deg);
}

.rightSec input[type="checkbox"]:checked~.hamburgurLines .line2 {
    /* display: none; */
    transform: scale(0);
}

.rightSec input[type="checkbox"]:checked~.hamburgurLines .line3 {
    transform: rotate(-45deg);
}

/* ############### media queries for header ################ */

@media screen and (max-width:1195px) {
    .bottomSectionHeaderSubMenu {
        top: 32px;
    }

    .bottomSectionHeader p {
        background: #FFCF53;
        padding: 4px 6px;
        border-radius: 6px;
        margin-bottom: 5px;
    }

    .leftSec img {
        width: 300px;
        display: block;
        padding-bottom: 6px;
    }

    .bottomSectionHeaderSubMenu li {
        margin-bottom: 5px;
    }

    .bottomSectionHeaderSubMenu {
        width: 154px;
    }

    .topHeaderLinks {
        width: 250px;
        z-index: 1000;
        background: #FFCF53;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 30px 20px 0 20px;
        position: absolute;
        top: 100px;
        right: 0;
        height: 100vh;
        opacity: 0;
        transform: translateX(100%);
        transition: all 0.3s ease-in-out;
    }

    .insideBottomHeader {
        display: flex;
        justify-content: flex-start;
    }

    .headerCheckbox,
    .hamburgurLines {
        display: block;
        width: 50px;
        height: 40px;
    }

    .headerCheckbox {
        position: absolute;
        top: 30px;
        right: 30px;
        opacity: 0;
        z-index: 1002;
    }

    .hamburgurLines {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 1001;
    }

    .hamburgurLines span {
        display: inline-block;
        background: black;
        width: 100%;
        height: 4px;
        border-radius: 5px;
    }

    .rightSec input[type="checkbox"]:checked~.topHeaderLinks {
        z-index: 1000;
        background: #FFCF53;
        ;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 30px 20px 0 20px;
        position: absolute;
        top: 92px;
        right: 0;
        height: 100vh;
        opacity: 1;
        transform: translateX(0);

    }

    .topHeaderLinks li {
        margin: 10px;
    }

    .tophHeaderMainLink {
        width: 200px;
        text-align: start;
    }

    .topHeaderSubMenu {
        position: absolute;
        top: 0px;
        left: -148px;
    }

    .topHeaderSubMenu li {
        margin: 0;
        cursor: pointer;
        margin-bottom: 5px;
    }



    .topHeaderLinks li a {
        color: white;
        cursor: pointer;
    }

}

.bottomSectionHeaderSubMenu li a {
    padding-bottom: 10px;
}



/* ########################## home page styling ######################### */

main {
    margin-top: 120px;
    padding: 10px 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}


.imgSide {
    height: 500px;
    width: 50%;
    position: relative;
}

.homeimg {
    height: 200px;
    position: absolute;
}

.firstImg {
    top: 0;
    left: 0;
    z-index: 5;
}

.secImg {
    top: 148px;
    left: 120px;
    transform: rotate(-15deg);
    z-index: 4;
}

/* DCA00A */
.thirdImg {
    top: 295px;
    left: 0;
    transform: rotate(15deg);
    z-index: 4;
}

.mybox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
    padding-right: 10px;
}

.textSec {
    height: 500px;
    width: 35%;
    padding: 50px 0;
}

.textSec p {
    color: white;
    font-size: 37px;
}

.homeText {
    /* DCA00A */
    color: #dca00a;
}

main {
    padding: 50px;
    top: 140px;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* Other styles... */
}

.imgSide {
    height: 500px;
    width: 50%;
    position: relative;
}

.textSec {
    height: 500px;
    width: 50%;
    padding: 50px 0;
}

.homeLinkTopMenu {
    color: black;
    background: #F8AF51;
    display: block;
    width: 90px;
    border-radius: 6px;
    padding: 4px 6px;
    text-align: center;
}

@media screen and (max-width: 1195px) {
    .homeLinkTopMenu {
        text-align: start;
        color: black;
        background: #F8AF51;
        display: block;
        width: 185px;
        border-radius: 6px;
        padding: 4px 6px;
    }

    .imgSide,
    .textSec {
        width: 100%;
        text-align: center;
    }

    main {
        flex-direction: column;
        align-items: center;
    }

    .firstImg {
        top: 0;
        left: 30%;
        z-index: 5;
    }

    .secImg {
        top: 148px;
        left: 40%;
        transform: rotate(-15deg);
        z-index: 4;
    }

    /* DCA00A */
    .thirdImg {
        top: 295px;
        left: 30%;
        transform: rotate(15deg);
        z-index: 4;
    }
}

@media screen and (max-width:815px) {
    .firstImg {
        top: 0;
        left: 25%;
        z-index: 5;
    }

    .secImg {
        top: 148px;
        left: 35%;
        transform: rotate(-15deg);
        z-index: 4;
    }

    .thirdImg {
        top: 295px;
        left: 25%;
        transform: rotate(15deg);
        z-index: 4;
    }
}

@media screen and (max-width:680px) {
    .firstImg {
        top: 0;
        left: 21%;
        z-index: 5;
    }

    .secImg {
        top: 148px;
        left: 31%;
        transform: rotate(-15deg);
        z-index: 4;
    }

    .thirdImg {
        top: 295px;
        left: 21%;
        transform: rotate(15deg);
        z-index: 4;
    }
}

@media screen and (max-width:600px) {
    .firstImg {
        top: 0;
        left: 15%;
        z-index: 5;
    }

    .secImg {
        top: 148px;
        left: 21%;
        transform: rotate(-15deg);
        z-index: 4;
    }

    .thirdImg {
        top: 295px;
        left: 15%;
        transform: rotate(15deg);
        z-index: 4;
    }
}

@media screen and (max-width:670px) {
    .mybox {
        margin-top: 100px;
    }
}

@media screen and (max-width:480px) {
    .leftSec img {
        width: 300px;
    }

    .firstImg {
        top: 0;
        left: 8%;
        z-index: 5;
    }

    .secImg {
        top: 148px;
        left: 15%;
        transform: rotate(-15deg);
        z-index: 4;
    }

    .thirdImg {
        top: 295px;
        left: 8%;
        transform: rotate(15deg);
        z-index: 4;
    }
}

@media screen and (max-width:450px) {
    .homeimg {
        height: 170px;
        position: absolute;
    }

    .bottomHeader {
        position: fixed;
        top: 90px;
        left: 0;
        right: 0;
        background: #F8AF51;
        z-index: 99;
    }

    .headerCheckbox,
    .hamburgurLines {
        display: block;
        width: 38px;
        height: 30px;
    }

    .headerCheckbox {
        position: absolute;
        top: 33px;
        right: 30px;
        opacity: 0;
        z-index: 1002;
    }

    .hamburgurLines {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 33px;
        right: 30px;
        z-index: 1001;
    }

    .hamburgurLines span {
        display: inline-block;
        background: black;
        width: 100%;
        height: 4px;
        border-radius: 5px;
    }

    .textSec p {
        color: white;
        font-size: 28px;
    }

    .firstImg {
        top: 0;
        left: 10%;
        z-index: 5;
    }

    .secImg {
        top: 148px;
        left: 10%;
        transform: rotate(-15deg);
        z-index: 4;
    }

    .thirdImg {
        top: 295px;
        left: 10;
        transform: rotate(15deg);
        z-index: 4;
    }

    footer p {
        font-size: 10px;
    }
}

@media screen and (max-width:350px) {
    .firstImg {
        top: 0;
        left: -10%;
        z-index: 5;
    }

    .secImg {
        top: 148px;
        left: -10px;
        transform: rotate(-15deg);
        z-index: 4;
    }

    .thirdImg {
        top: 295px;
        left: -10px;
        transform: rotate(15deg);
        z-index: 4;
    }
}

@media screen and (max-width:395px) {
    .mybox {
        margin-top: -2px;
    }
}

footer {
    background: black;
    color: white;
    text-align: center;
}

.signOut {
    color: red;
    font-weight: bold;
}

/* ############## transitions #################### */

.firstImg {
    opacity: 0;
    animation-name: imgdelay;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.secImg {
    opacity: 0;
    animation-name: imgdelay;
    animation-duration: 2s;
    /* animation-delay: 1s; */
    animation-fill-mode: forwards;
}

.thirdImg {
    opacity: 0;
    animation-name: imgdelay;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes imgdelay {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

.textSec {
    padding-top: 100px;
    opacity: 0;
    animation-name: textSide;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.textSec p,
.textsecp {
    font-size: 30px;
}

@keyframes textSide {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}