@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
    /* width: 100%; */
    /* height: 100%; */
    /* overflow-x: hidden; */
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    user-select: none;
    font-size: 17px;
}

html {
    min-height: 100%;
    overflow-y: scroll;
}

body {
    min-height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* ########## top header styling ###### */
header {
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* right: 0; */
    background: #FFCF53;
    z-index: 999;
}

.navbar,
.insideBottomHeader {
    padding: 0 10px;
}



.topHeader {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;  */
    padding: 2.5px 0;
}

.topHeaderLinks {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-bottom: 5px;
}

.topHeaderLinks li,
.topHeaderLinks p {
    margin-left: 10px;
}

.adminSignOut {
    color: red;
    font-weight: bold;
}

.tophHeaderMainLink p {
    cursor: pointer;
}

.topHeaderLinks li a {
    color: black;
    cursor: pointer;
}

.leftSec img {
    width: 190px;
}

.homeLink {
    padding-top: 100px;
}

.headerCheckbox,
.hamburgurLines {
    display: none;
}

.topHeaderSubMenu {
    position: absolute;
    left: 8px;
    display: none;
    width: 170px;
    height: auto;
    padding: 10px 5px;
    background: black;
    color: white;
    padding-left: -20px;
    border-radius: 10px;
}

.topHeaderSubMenu li {
    margin: 0;
    cursor: pointer;
    margin-bottom: 5px;
}

.topHeaderSubMenu li a {
    color: white;
    /* padding-bottom: 20px; */
}

.topHeaderLinks li:hover .topHeaderSubMenu {
    display: block;
}

.tophHeaderMainLink {
    position: relative;
}

/* ####### bottom header styling ########## */

/* .bottomHeader {
    height: auto;
    padding: 7px 0
} */
.bottomHeader {
    position: fixed;
    top: 104px;
    left: 0;
    right: 0;
    background: #F8AF51;
    z-index: 99;
    padding: 10px 0;
}

.linkPaddingBottom {
    padding-bottom: 10px;
}

.insideBottomHeader {
    display: flex;
    /* justify-content: flex-end; */
    justify-content: space-between;
}

.bottomSectionHeader {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 5px 0 2px 0;
}

.bottomSectionHeader p:hover {
    cursor: pointer;
}

a {
    transition: color 0.2s ease-in-out;
}

.hoverOnLink:hover {
    color: #F8AF51;
}

.bottomSectionHeader li {
    margin-right: 20px;
}

.bottomHeaderLinks {
    position: relative;
}

.bottomSectionHeaderSubMenu {
    position: absolute;
    left: 0;
    display: none;
    width: 180px;
    height: auto;
    padding: 10px 5px;
    background: rgb(0, 0, 0);
    color: white;
    padding-left: -20px;
    border-radius: 10px;
    z-index: 10;
}

.bottomSectionHeader li:hover .bottomSectionHeaderSubMenu {
    display: block;
}

.bottomSectionHeaderSubMenu li a {
    color: white;
}

.signOut {
    color: black;
}

.line1 {
    transform-origin: 0% 0%;
    transition: all 0.3s ease-in-out;
}

.line2 {
    transform-origin: 0% 100%;
    /* display: none; */
    transition: all 0.3s ease-in-out;
}

.line3 {
    transform-origin: 0% 100%;
    transition: all 0.3s ease-in-out;
}

.rightSec input[type="checkbox"]:checked~.hamburgurLines .line1 {
    transform: rotate(45deg);
}

.rightSec input[type="checkbox"]:checked~.hamburgurLines .line2 {
    /* display: none; */
    transform: scale(0);
}

.rightSec input[type="checkbox"]:checked~.hamburgurLines .line3 {
    transform: rotate(-45deg);
}

/* ############### media queries for header ################ */

@media screen and (max-width:1200px) {
    .settingIcon {
        margin-top: 10px;
    }

    .bottomHeader {
        position: fixed;
        top: 95px;
        left: 0;
        right: 0;
        background: #F8AF51;
        z-index: 99;
        padding: 5px 0;
    }

    .leftSec img {
        width: 300px;
    }

    .bottomSectionHeaderSubMenu li {
        margin-bottom: 5px;
    }

    .bottomSectionHeaderSubMenu {
        width: 160px;
    }

    .topHeaderLinks {
        width: 250px;
        z-index: 1000;
        background: #FFCF53;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 30px 20px 0 20px;
        position: absolute;
        top: 92px;
        right: 0;
        height: 100vh;
        opacity: 0;
        transform: translateX(100%);
        transition: all 0.3s ease-in-out;
    }

    .insideBottomHeader {
        display: flex;
        justify-content: flex-start;
    }

    .headerCheckbox,
    .hamburgurLines {
        display: block;
        width: 50px;
        height: 40px;
    }

    .headerCheckbox {
        position: absolute;
        top: 30px;
        right: 30px;
        opacity: 0;
        z-index: 1002;
    }

    .hamburgurLines {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 1001;
    }

    .hamburgurLines span {
        display: inline-block;
        background: black;
        width: 100%;
        height: 4px;
        border-radius: 5px;
    }

    .rightSec input[type="checkbox"]:checked~.topHeaderLinks {
        z-index: 1000;
        background: #FFCF53;
        ;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 30px 20px 0 20px;
        position: absolute;
        top: 92px;
        right: 0;
        height: 100vh;
        opacity: 1;
        transform: translateX(0);

    }

    .topHeaderLinks li {
        /* padding: 20px; */
        margin: 10px;
    }

    .tophHeaderMainLink {
        /* position: relative; */
        /* border: 2px solid black; */
        width: 200px;
        text-align: start;
    }

    .topHeaderSubMenu {
        position: absolute;
        top: 0px;
        left: -164px;

    }

    .topHeaderSubMenu li {
        margin: 0;
        cursor: pointer;
        margin-bottom: 5px;
    }

    .homeLink {
        display: inline-block;
        width: 200px;
        color: black !important;
        padding-top: 57px;
    }

    .topHeaderLinks li a {
        color: white;
        cursor: pointer;
        /* padding-left: 16px; */
    }

    .bottomSectionHeader {
        padding: 5px 0 2px 0;

    }

    .bottomSectionHeader li {
        margin-top: 5px;
    }
}





main {
    margin-top: 120px;
    padding: 10px 0;
    width: 100%;
    min-height: 100vh;
    background-image: url('./images/admit_menu_bgimg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
}

.imgSide {
    height: 500px;
    width: 50%;
    position: relative;
}

.homeimg {
    height: 200px;
    position: absolute;
}

.firstImg {
    top: 0;
    left: 0;
    z-index: 5;
}

.secImg {
    top: 148px;
    left: 120px;
    transform: rotate(-15deg);
    z-index: 4;
}


.thirdImg {
    top: 295px;
    left: 0;
    transform: rotate(15deg);
    z-index: 4;
}

.mybox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
    padding-right: 10px;
}

.textSec {
    height: 500px;
    width: 35%;
    padding: 50px 0;
}

.textSec p {
    color: white;
    font-size: 37px;
}

.homeText {

    color: #dca00a;
}

main {
    padding: 50px;
    top: 140px;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* Other styles... */
}

.imgSide {
    height: 500px;
    width: 50%;
    position: relative;
}

.textSec {
    height: 500px;
    width: 50%;
    padding: 50px 0;
}

@media screen and (max-width: 1020px) {


    .imgSide,
    .textSec {
        width: 100%;
        text-align: center;
    }

    main {
        flex-direction: column;
        align-items: center;
    }

    .firstImg {
        top: 0;
        left: 30%;
        z-index: 5;
    }

    .secImg {
        top: 148px;
        left: 40%;
        transform: rotate(-15deg);
        z-index: 4;
    }

    /* DCA00A */
    .thirdImg {
        top: 295px;
        left: 30%;
        transform: rotate(15deg);
        z-index: 4;
    }
}

@media screen and (max-width:815px) {
    .firstImg {
        top: 0;
        left: 25%;
        z-index: 5;
    }

    .secImg {
        top: 148px;
        left: 35%;
        transform: rotate(-15deg);
        z-index: 4;
    }

    .thirdImg {
        top: 295px;
        left: 25%;
        transform: rotate(15deg);
        z-index: 4;
    }
}

@media screen and (max-width:680px) {
    .firstImg {
        top: 0;
        left: 21%;
        z-index: 5;
    }

    .secImg {
        top: 148px;
        left: 31%;
        transform: rotate(-15deg);
        z-index: 4;
    }

    .thirdImg {
        top: 295px;
        left: 21%;
        transform: rotate(15deg);
        z-index: 4;
    }
}

@media screen and (max-width:600px) {
    .firstImg {
        top: 0;
        left: 15%;
        z-index: 5;
    }

    .secImg {
        top: 148px;
        left: 21%;
        transform: rotate(-15deg);
        z-index: 4;
    }

    .thirdImg {
        top: 295px;
        left: 15%;
        transform: rotate(15deg);
        z-index: 4;
    }
}

@media screen and (max-width:548px) {
    .mybox {
        margin-top: 10px;
    }
}

@media screen and (max-width:547px) {
    .mybox {
        margin-top: 40px;
    }
}

@media screen and (max-width:480px) {
    .leftSec img {
        width: 300px;
    }

    .firstImg {
        top: 0;
        left: 8%;
        z-index: 5;
    }

    .secImg {
        top: 148px;
        left: 15%;
        transform: rotate(-15deg);
        z-index: 4;
    }

    .thirdImg {
        top: 295px;
        left: 8%;
        transform: rotate(15deg);
        z-index: 4;
    }
}

@media screen and (max-width:450px) {
    .homeimg {
        height: 170px;
        position: absolute;
    }

    .bottomHeader {
        position: fixed;
        top: 90px;
        left: 0;
        right: 0;
        background: #F8AF51;
        z-index: 99;
    }

    .headerCheckbox,
    .hamburgurLines {
        display: block;
        width: 38px;
        height: 30px;
    }

    .headerCheckbox {
        position: absolute;
        top: 33px;
        right: 30px;
        opacity: 0;
        z-index: 1002;
    }

    .hamburgurLines {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 33px;
        right: 30px;
        z-index: 1001;
    }

    .hamburgurLines span {
        display: inline-block;
        background: black;
        width: 100%;
        height: 4px;
        border-radius: 5px;
    }

    .textSec p {
        color: white;
        font-size: 28px;
    }

    .firstImg {
        top: 0;
        left: 10%;
        z-index: 5;
    }

    .secImg {
        top: 148px;
        left: 10%;
        transform: rotate(-15deg);
        z-index: 4;
    }

    .thirdImg {
        top: 295px;
        left: 10;
        transform: rotate(15deg);
        z-index: 4;
    }

    footer p {
        font-size: 10px;
    }
}

@media screen and (max-width:350px) {
    .firstImg {
        top: 0;
        left: -10%;
        z-index: 5;
    }

    .secImg {
        top: 148px;
        left: -10px;
        transform: rotate(-15deg);
        z-index: 4;
    }

    .thirdImg {
        top: 295px;
        left: -10px;
        transform: rotate(15deg);
        z-index: 4;
    }
}

@media screen and (max-width:660px) {
    .bottomSectionHeader {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 5px 0 2px 0;
    }
}

footer {
    background: black;
    color: white;
    text-align: center;
}

.signOut {
    color: red;
    font-weight: bold;
}


.firstImg {
    opacity: 0;
    animation-name: imgdelay;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.secImg {
    opacity: 0;
    animation-name: imgdelay;
    animation-duration: 2s;
    /* animation-delay: 1s; */
    animation-fill-mode: forwards;
}

.thirdImg {
    opacity: 0;
    animation-name: imgdelay;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes imgdelay {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

.textSec {
    padding-top: 100px;
    opacity: 0;
    animation-name: textSide;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.textSec p,
.textsecp {
    font-size: 30px;
}

@keyframes textSide {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}



.settingIcon i {
    color: black
}

.settingIcon i:hover {
    cursor: pointer;
}

#gear-icon:hover {
    animation: spin-reverse 2s infinite;
}

@keyframes spin-reverse {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}


.rightSec p {
    background: #F8AF51;
    padding: 4px 6px;
    border-radius: 6px;
}


.bottomSectionHeader p {
    background: #FFCF53;
    padding: 4px 6px;
    border-radius: 6px;
}

/* ########### add new Client #################### */

.anc-wrapper {
    color: white;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: none;
    background: rgba(0, 0, 0, 0.689);
    padding: 30px 10px 30px 30px;
    border-radius: 10px;
    margin-top: 170px;
}

.anc-personal-pref {
    color: white;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: none;
    background: rgba(0, 0, 0, 0.689);
    padding: 30px 10px 30px 30px;
    border-radius: 10px;
    margin-top: 20px;
}

.anc-heading {
    font-size: 30px;
    color: #FFBA08;
    margin-bottom: 10px;
}

.anc-pp {
    font-size: 17px;
    color: #FFBA08;
    margin-bottom: 10px;
}

.anc-fir-li,
.anc-sec-li,
.anc-third-li {
    display: flex;
    justify-content: flex-start;
    text-align: start;
    margin-bottom: 5px;
}

.anc-fir-li input,
.anc-sec-li input,
.anc-third-li input {
    width: 90%;
}

.anc-com {
    width: 307px;
}

.anc-forth-li,
.anc-fif-li {
    display: flex;
    justify-content: space-between;
}

.anc-com-ta {
    text-align: start;
    width: 50%;
}

.anc-com-ta textarea {
    width: 95%;
}

.pp-wrapper {
    text-align: start;
    display: flex;
}

.pp-wrapper input {
    width: 90%;
}

.anc-btns a {
    display: inline-block;
    color: white;
    width: auto;
    padding: 10px 15px;
    border-radius: 10px;
    background: #ffb908cf;
    color: black;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
}

.anc-btns input {
    display: inline-block;
    color: white;
    width: auto;
    padding: 10px 15px;
    border-radius: 10px;
    background: #ffb908cf;
    color: black;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
}

.anc-btns input:hover {
    background: #FFBA08;
}

.anc-btns a:hover {
    cursor: pointer;
    background: #FFBA08;
}

.anc-pref select {
    width: 180px !important;
    margin-right: 10px;
}

.anc-con-del {
    width: 275px
}

.anc-gst {
    text-align: start;
    padding-left: 16px;
}

.anc-gst input {
    width: 261px
}

.anc-mail {
    width: 290px;
}

.anc-phone,
.anc-mobile {
    width: 289px;
}

/* ###################### manage clients ########################## */


.manage-client-wrapper {
    color: white;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: none;
    background: rgba(0, 0, 0, 0.689);
    padding: 30px 10px 30px 30px;
    border-radius: 10px;
    margin-top: 170px;
}

.sc-first-li {
    text-align: start;
    display: flex;
}

.sc-first-li input {
    width: 90%;
}

.sc-btns {
    margin-left: 25px;
}

.sc-btns a {
    display: inline-block;
    color: white;
    width: auto;
    padding: 10px 15px;
    border-radius: 10px;
    background: #ffb908cf;
    color: black;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    margin-left: 7px;
}

.sc-btns a:hover {
    cursor: pointer;
    background: #FFBA08;
}

.search-clients {
    font-size: 30px;
    color: #FFBA08;
    margin-bottom: 10px;
}

.anc-active {
    width: 263px !important;
}

.sc-table {
    width: 100%;
    text-align: center;

}

.sc-th {
    width: 150px;
}

.search-clients-sec {
    color: white;
    width: 1300px;
    text-align: center;
    border-collapse: collapse;
    border: none;
    background: rgba(0, 0, 0, 0.689);
    padding: 30px 10px 30px 30px;
    border-radius: 10px;
    margin: 20px auto
}

.search-clients-sec th {
    color: #FABA08;
    border: none;
    margin-bottom: 20px;
    font-size: 19px;
}

.ul-anc {
    display: none;
    padding: 5px;
    position: absolute;
    background: rgba(0, 0, 0, 0.885);
    border-radius: 10px;
    width: 160px;
    right: -160px;
    transition: all 0.3s ease-in-out;
    top: -1px;
    z-index: 1;
    padding: 10px
}

.ul-anc a {
    color: white;
}

.ul-anc li {
    border-bottom: 1px solid #FABA08;
}

.anc-i {
    position: relative;
    color: #FABA08;
}

.anc-i:hover {
    cursor: pointer;
    color: red;
}

.anc-i:hover .ul-anc {
    display: block;
}

.pop-up-anc {
    font-weight: normal;
}

.ul-anc ul li a:hover {
    color: #FABA08;
    /* font-size: medium */
    font-size: 18px;
}

.vsc-cn {
    border: 2px solid red;
}

/* #################### Add New Supplier ######################### */

.add-new-supplier-wrapper {
    color: white;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: none;
    background: rgba(0, 0, 0, 0.689);
    padding: 30px 10px 30px 10px;
    border-radius: 10px;
    margin-top: 170px;
}

.ans-fir-li,
.ans-sc-li {
    display: flex;
    justify-content: flex-start;
    text-align: start;
    margin-bottom: 5px;
}

.ansd1 {
    width: 295px;
}

.ansd1 input {
    width: 90%;
}

.ans-thir-li,
.ans-for-li {
    display: flex;
}

.ansd1-rem {
    width: 590px;
    text-align: start;
}

.ansd1-rem textarea {
    width: 95%;
}

.inside-services input[type=checkbox] {
    width: 18px;
    height: 18px;
}

.ansd1-ser input {
    padding-top: 10px;
}

.ansd1-ser {
    display: flex;
    align-items: center;
}

.ansd1-ser label {
    margin-right: 5px;
}

.supp-sec {
    display: flex;
    justify-content: center;
}

.ans-btns a {
    display: inline-block;
    color: white;
    width: auto;
    padding: 10px 15px;
    border-radius: 10px;
    background: #ffb908cf;
    color: black;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    margin-left: 7px;
}

.ans-btns a:hover {
    cursor: pointer;
    background: #FFBA08;
}

.ans-btns input {
    display: inline-block;
    color: white;
    width: auto;
    padding: 10px 15px;
    border-radius: 10px;
    background: #ffb908cf;
    color: black;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    margin-left: 7px;
}

.ans-btns input:hover {
    cursor: pointer;
    background: #FFBA08;
}

#supp-name {
    width: 248px;
}

.ans-comDel {
    width: 263px;
}

.ans-gst {
    margin-left: 31px;
    text-align: start;
}

.ans-5-li {
    display: flex;
    justify-content: space-evenly;

}

.ans-left-sec {

    width: 50%;
}

.ans-right-sec {
    width: 50%;
}

.inside-services {
    display: flex;
    flex-wrap: wrap;
}

.ansd1-ser {
    width: 20%;
    margin-left: 10px;
}

.flight-lab {
    margin-right: 50px;
}

.f,
.h,
.t,
.s,
.v,
.i,
.p,
.o {
    width: 250px;
}

.inside-services checkbox {
    width: 20px;
    height: 20px;
}

/* #################### floowup lead ######################### */




.follow-up-wrapper {
    margin-top: 200px;
    /* border: 2px solid red; */
    padding: 10px;
    background: rgba(0, 0, 0, 0.716);
    color: white;
    border-radius: 10px;
}

.follow-up-time {
    /* border: 2px solid orange; */
    display: flex;
    justify-content: space-between;
}

.follow-up-main-response {
    /* border: 2px solid orange; */
    display: flex;
    justify-content: space-between;
}

.fwaction-taken textarea,
.fwnext-todo textarea {
    height: 50px;
    width: 580px;
    border-radius: 10px;
}

.fwaction-taken p,
.fwnext-todo p {
    margin: 0;
    font-size: 21px;
}

.follow-up-p {
    margin: 0;
}

.follow-up-p {
    font-size: 21px;
}

.follow-up-next-action-time {
    width: 582px;
}

.follow-up-btn {
    text-align: center;
}

.follow-up-heading {
    text-align: center;
}

.follow-up-heading h1 {
    font-size: 30px;
    color: #FFBA08;
}

.follow-up-main-form label {
    font-size: 21px;
}

.follow-up-btn a {
    display: inline-block;
    color: white;
    width: auto;
    padding: 10px 15px;
    border-radius: 10px;
    background: #ffb908cf;
    color: black;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
}

.follow-up-btn a:hover {
    cursor: pointer;
    background: #FFBA08;
}

/* ################ follow up tabel stying########### */

.follow-up-main-tabel table {
    color: white;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: none;
    background: rgba(0, 0, 0, 0.689);
    padding: 10px;
    border-radius: 10px;
}

.follow-up-main-tabel table th {
    color: #FABA08;
    border: none;
    margin-bottom: 20px;
    font-size: 19px;
}

/* ################ quick view lead ########### */
.quick-lead-view i {
    color: white;
    color: #FFBA08;
}

.follow-up-icon p {
    display: inline-block;
    color: #FFBA08;
    font-weight: bold;
}

.quick-lead-view {
    position: absolute;
    top: 177px;
    left: 152px;
}

.inside-quick-lead-view {
    position: absolute;
    background: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}

.quick-lead-view p,
.quick-lead-view label,
.quick-lead-view h3,
.quick-lead-view h1,
.quick-lead-view h2 {
    color: white;
}

.quick-lead-view i:hover {
    cursor: pointer;
}

.inside-quick-lead-view {
    color: black;
    /* background: lightgoldenrodyellow; */
}

.follow-up-fl,
.follow-up-f2,
.follow-up-reqs {
    display: flex;
    justify-content: space-between;
}

.fu-box {
    /* border: 2px solid red; */
    width: 300px;
}

.follow-up-c1 input {
    width: 21px;
    height: 18px;
}

.follow-up-c1 label {
    padding-bottom: 20px;
}

.follow-up-reqs {
    height: 30px;
}

.inside-quick-lead-view h1 {
    font-size: 30px;
    color: #FFBA08;
    text-align: center;
}

.follow-up-f3 h2 {
    color: #FFBA08;
}

.follow-ups-remarks-qv h3 {
    color: #FFBA08;
}

.fu-box label {
    color: #FFBA08;
}

.inside-quick-lead-view {
    transform: translateX(-140%);
    opacity: 0;
}

.follw-up-cross {
    position: relative;
}

.follw-up-cross {
    color: red !important;
}

.fwtb:active+.inside-quick-lead-view {
    transform: translateX(0);
}

.iqvl-cross:active .inside-quick-lead-view {
    transform: translateX(0);
}

.qlv-text {
    display: inline-block;
}

#show-fu-cb {
    width: 23px;
    height: 22px;
    position: absolute;
    cursor: pointer;
}

#show-fu-cb:checked~.inside-quick-lead-view {
    opacity: 1;
    transform: translateX(0);
}

.hamburgur-i-follow-up {
    position: absolute;
}

.ham {
    top: 10px;
    left: 10px;
}

.ham:hover {
    cursor: pointer;
}

.hamCh {
    left: 10px;
    opacity: 0;
}

.qlv-text {
    margin-left: 40px;
    color: #FFBA08 !important;
}

.submitbtns {
    display: inline-block;
    color: white;
    width: auto;
    padding: 10px 15px;
    border-radius: 10px;
    background: #ffb908cf;
    color: black;
    transition: all 0.3s ease-in-out;
    border: none;
    outline: none
}

.submitbtns:hover {
    cursor: pointer;
    background: #FFBA08;
}
}

/* ################ lead details open nav view ########### */

.follow-up-pop-up {
    padding: 10px;
    background: rgba(0, 0, 0, 0.716);
    color: white;
    border-radius: 10px;
}

.fupp-fir-line,
.fupp-2nd-line {
    display: flex;
    justify-content: space-between;
}

.fupp-3nd-line {
    display: flex;
    justify-content: flex-start;
}

.fupp-3nd-line .fupp-1-d {
    width: 295px;
}

.fupp-1-d {
    width: 400px;
}

.fupp-1-d h3 {
    color: #FFBA08;
}

.fupp-4th-line {
    display: flex;
    justify-content: space-between;
}

.fupp-sr h3 {
    display: inline-block;
}

.fupp-srh {
    color: #FFBA08 !important;
}

.fupp-5th-line h3 {
    color: #FFBA08 !important;
}

.follow-up-pop-up {
    position: relative;
}

.cross-red {
    position: absolute;
    top: 15px;
    left: 10px
}

.cross-ldonv {
    position: absolute;
    top: 5px;
    left: 10px
}

.actionTaken,
.nextToDo {
    width: 350px;
    border: 2px solid pink !important;
    padding: 10px 5px !important;
    margin: 0 20px
}

.leadActionTime {
    border: 2px solid green !important;
}


/* ###################### add Hotal styling #################### */

.add-hotal-chain-wrapper {
    margin-top: 200px;
    padding: 20px 10px;
    background: rgba(0, 0, 0, 0.716);
    color: white;
    border-radius: 10px;
}

.add-hotal-chain-wrapper h1 {
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    color: #FFBA08;
}

.add-hotal-chain-wrapper a {
    display: inline-block;
    color: white;
    width: auto;
    padding: 10px 15px;
    border-radius: 10px;
    background: #ffb908cf;
    color: black;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
}

.add-hotal-chain-wrapper a:hover {
    cursor: pointer;
    background: #FFBA08;
}

.ahc-in-btn {
    display: inline-block;
    color: white;
    width: auto;
    padding: 10px 15px;
    border-radius: 10px;
    background: #ffb908cf;
    color: black;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    outline: none;
    border: none;
}

.ahc-in-btn:hover {
    cursor: pointer;
    background: #FFBA08;
}

.ahc-in {
    display: flex;
    justify-content: space-evenly;
}

.ahc-l1,
.ahc-l2 {
    width: 45%;
}

.ahc-l1 input,
.ahc-l2 input {
    width: 70%;
}

.Ahc-btns {
    display: flex;
    justify-content: center;
}

.ahc-btn {
    margin-right: 5px;
}

/* ############### manage hotal chain styling ################# */

.manage_hotal_chain_wrapper {
    margin-top: 200px;
    padding: 20px 10px;
    background: rgba(0, 0, 0, 0.716);
    color: white;
    border-radius: 10px;
}

.manage_hotal_chain_wrapper h1 {
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    color: #FFBA08;
}

.mhc-in-l1 {
    display: flex;
    justify-content: space-around;
}

.mhc-in-l2 {
    display: flex;
    justify-content: center;
}

.mhc-in-l2 a {
    display: inline-block;
    color: white;
    width: auto;
    padding: 10px 15px;
    border-radius: 10px;
    background: #ffb908cf;
    color: black;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
}

.mhc-in-l2 a:hover {
    cursor: pointer;
    background: #FFBA08;
}

.mhc-in-l2 input {
    display: inline-block;
    color: white;
    width: auto;
    padding: 10px 15px;
    border-radius: 10px;
    background: #ffb908cf;
    color: black;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    border: none;
    outline: none;
}

.mhc-in-l2 input:hover {
    cursor: pointer;
    background: #FFBA08;
}

.mhc-btn {
    margin-right: 5px;
}

.manage-hotal-chain table {
    background: rgba(0, 0, 0, 0.716);
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}

.manage-hotal-chain-tabel thead tr th {
    color: #FFBA08;
}

/* ################ add hotal styling ############### */

.add_hotal_wrapper {
    margin-top: 200px;
    padding: 20px 10px;
    background: rgba(0, 0, 0, 0.716);
    color: white;
    border-radius: 10px;
}

.add_hotal_wrapper h1 {
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    color: #FFBA08;
}

.add_hotal_fli {
    display: flex;
    justify-content: space-around;
}

.ah-d1 {
    width: 360px;
}

.ah-d1 input {
    width: 90%;
}

.ah-d1-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ah-d1-btn input {
    display: inline-block;
    color: white;
    width: auto;
    padding: 10px 15px;
    border-radius: 10px;
    background: #ffb908cf;
    color: black;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
    outline: none;
    border: none;
}

.ah-d1-btn input:hover {
    cursor: pointer;
    background: #FFBA08;

}

/* ################# search hotal styling ################# */

.search_hotal_wraper {
    margin-top: 200px;
    padding: 20px 10px;
    background: rgba(0, 0, 0, 0.716);
    color: white;
    border-radius: 10px;
}

.search_hotal_wraper h1 {
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    color: #FFBA08;
}

.sh-f1 {
    display: flex;
}

.sh-f1 .sh-fi-d,
.sh-f2 .sh-fi-d,
.sh-f3 .sh-fi-d {
    width: 300px;
}

.sh-f1 .sh-fi-d input,
.sh-f2 .sh-fi-d input,
.sh-f3 .sh-fi-d input {
    width: 95%;
}

.sh-f2 {
    display: flex;
}

.sh-f2 .sh-fi-d-hn {
    width: 590px;
}

.sh-f3 {
    display: flex;
}

.sh-fi-d-hsc {
    margin-right: 85px;
}

.sh-fi-d-btn {
    display: flex;
    justify-content: center;
}

.sh-fi-d-btn button {
    display: inline-block;
    color: white;
    width: auto;
    padding: 10px 15px;
    border-radius: 10px;
    background: #ffb908cf;
    color: black;
    transition: all 0.3s ease-in-out;
    outline: none;
    border: none;
}

.sh-fi-d-btn button:hover {
    cursor: pointer;
    background: #FFBA08;
}

.sh-f1,
.sh-f2,
.sh-f3 {
    margin-bottom: 10px;
}

/* ########################## search supplier ###################### */

.serach_supplier_wrapper {
    margin-top: 200px;
    padding: 20px 10px;
    background: rgba(0, 0, 0, 0.716);
    color: white;
    border-radius: 10px;
}

.search_supplier_data_l1 {
    display: flex;
}

.search_supplier_data_l1 .ssd1 {
    width: 300px;
}

.search_supplier_data_l1 .ssd1 input {
    width: 90%;
}

.inside_ss_ser {
    display: flex;
    justify-content: space-between;
}

.serach_supplier_wrapper h1 {
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    color: #FFBA08;
}

.ss-btn {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.ss-btn a {
    display: inline-block;
    color: white;
    width: auto;
    padding: 10px 15px;
    border-radius: 10px;
    background: #ffb908cf;
    color: black;
    transition: all 0.3s ease-in-out;
}

.ss-btn a:hover {
    cursor: pointer;
    background: #FFBA08;
}

.ss-btn input {
    display: inline-block;
    color: white;
    width: auto;
    padding: 10px 15px;
    border-radius: 10px;
    background: #ffb908cf;
    color: black;
    transition: all 0.3s ease-in-out;
    outline: none;
    border: none;
    margin-right: 5px;
}

.ss-btn input:hover {
    cursor: pointer;
    background: #FFBA08;
}

.ss-btn-1 {
    margin-right: 5px
}

.search_suppler_table {
    width: 1450px;
    margin: 10px auto;
    background: rgba(0, 0, 0, 0.716);
    color: white;
    border-radius: 10px;
}

.search_suppler_table table {
    width: 100%;
    text-align: center;
}

.inside_ss_ser .ssd2 {
    display: flex;
    align-items: center;
}

.inside_ss_ser .ssd2 input {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.search_supplier_ul a {
    color: white;
}

.search_supplier_iicon {
    position: relative;
}

.search_supplier_ul {
    padding: 7px;
    border-radius: 10px;
    color: white;
    background: black;
    position: absolute;
    display: none;
    left: -108px;
    top: 4px;
}

.search_supplier_ul ul li {
    border-bottom: 2px solid #FFBA08;
}

.search_supplier_ul ul li a:hover {
    color: #FFBA08;
}

.search_supplier_iicon i {
    color: red;

}

.search_supplier_iicon i:hover .search_supplier_ul {
    display: block;
}

.search_supplier_iicon i:hover {
    color: #FFBA08;
    cursor: pointer;
}

.search_supplier_ul input {
    color: white;
    outline: none;
    border: none;
    background: transparent;
}

.search_supplier_ul input:hover {
    cursor: pointer;
    color: #FFBA08;
    ;
}

/* ######## view_supplier_Details_modal styling ######### */


.view_supplier_details_wrapper {
    margin-top: 200px;
    padding: 20px 10px;
    background: rgba(0, 0, 0, 0.716);
    color: white;
    border-radius: 10px;
}

.view_supplier_details_data1 {
    display: flex;
    /* justify-content: space-between; */
}

.view_supplier_details_data1 .view_supplier_details_li {
    width: 266px;
    margin-right: 100px;
}

.view_supplier_details_data1 .view_supplier_details_li input {
    width: 300px;
}

.view_supplier_details_data1 .view_supplier_details_li_add input {
    width: 530px;
}

.view_supplier_details_data2,
.view_supplier_details_data3 {
    display: flex;
}

.view_supplier_details_data2 .view_supplier_details_li {
    width: 300px;
}

.view_supplier_details_data2 .view_supplier_details_li input {
    width: 90%;
}

.view_supplier_details_data3 .view_supplier_details_li {
    width: 300px;
}

.view_supplier_details_data3 .view_supplier_details_li input {
    width: 90%;
}

.view_supplier_details_data4 {
    display: flex;
}

.view_supplier_details_data4 .view_supplier_details_li {
    width: 295px;
}

.view_supplier_details_data4 .view_supplier_details_li input {
    width: 90%;
}